html {
	height: 100%;
}

body {
	background: url(../img/background.png) no-repeat fixed;
	background-position-y: 26%;
}

.main {
	width: 1000px;
	margin: 0 auto;
	padding-top: 11px; 
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	box-shadow: 0 0 5px 1px #808080;
	background-color: #fff;
}

.logo {
	display: inline-block;
	margin-left: 27px;
}


.both {
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 30px; 	
}


.countries {
	padding-top: 35px;	
}


.menu {
	display: block;
	list-style: none;
	background: #323232;
	margin-top: -3px; 
	border: 1px solid #000;
	box-shadow: 0 0 5px 1px #000;	
	height*: 31px;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
	float: none;
}

.menu > li {
	float: left;
	position: relative;		
	padding: 5px 30px;
	margin: 5px;
}


.menu > li > a {
	display: block;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
	color: #fff;
}

.submenu {
	display: none;
	position: absolute;
	width: 150px;
	top: 31px;
	left: 20px;
	background-color: #323232;	
}

.submenu > li > a {
	padding-left: 10px;
	line-height: 2;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
	color: #fff;
}

.menu li .submenu {
	display: none;
}


.menu li:hover .submenu {
	display: block;
}

.content {
	width: 1000px;
	overflow: hidden;
}

.info {
	width: 210px;
	float: left;
	background: #edeef0;
	border-right: 1px solid #c7cacf;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.empty {
	width: 580px;
	float: left;
	background: #fff;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.news {
	width: 210px;
	float: right;
	background: #edeef0;
	border-left: 1px solid #c7cacf;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.header {
	text-align: center;
	line-height: 1.5;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 600;
}

.text {
	text-align: center;
	line-height: 1.5;
	font-family: Tahoma;
	font-size: 14px;
}

.copyright {
	margin: 10px;
	text-align: center;
	font-family: Tahoma;
	font-size: 12px;
	color: #fff;
}
