html {
	height: 100%;
}

body {
	background: url(../img/background.png) no-repeat fixed;
	background-position-y: 27%;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.main {
	width: 1000px;
	margin: 0 auto;
	padding-top: 11px; 
	border-left: 1px solid #808080;
	border-right: 1px solid #808080;
	border-bottom: 1px solid #808080;
	box-shadow: 0 0 5px 1px #808080;
	background-color: #fff;
}

.logo {
	display: inline-block;
	margin-left: 27px;
}


.both {
	display: inline-block;
	float: right;
	text-align: right;
	margin-right: 30px; 	
}


.countries li {
	display: inline-block;
	padding-top: 35px;
	margin-left: 15px;	
}

.menu {
	background: #323232;
	margin-top: -3px; 
	border-bottom: 2px solid #000;
	box-shadow: 0 0 5px 1px #000;
	z-index: 3;

}
.menu li {
	display: inline-block;
	position: relative;
	padding: 10px 0 10px 14px;
	margin-left: 50px;
}

.menu li a {
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
	color: #fff;
}

.submenu {
	display: none;
	position: absolute;
	width: 150px;
	top: 37px;
	left: 0;
	background-color: #323232;	
}

.submenu > li {
	padding: 5px;
	margin-left: 10px; 
}

.submenu > li {
	display: block;
}

.menu li:hover .submenu {
	display: block;
	z-index: 2;
}

/*.menu {
	display: block;
	list-style: none;
	background: #323232;
	margin-top: -3px; 
	border: 1px solid #000;
	box-shadow: 0 0 5px 1px #000;	
	z-index: 3;
}

.clearfix:after {
	content: '';
	clear: both;
	display: block;
	float: none;
}

.menu > li {
	float: left;
	position: relative;		
	padding: 5px 29px;
	margin: 5px;
}


.menu > li > a {
	display: block;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
	color: #fff;
}

.submenu {
	display: none;
	position: absolute;
	width: 150px;
	top*: 31px;
	left: 20px;
	background-color: #323232;	
}

.submenu > li > a {
	padding-top: 10px;
	padding-left: 10px;
	line-height: 2;
	text-decoration: none;
	font-family: Tahoma;
	font-size: 14px;
	color: #fff;
}


.menu li:hover .submenu {
	display: block;
	
}*/

.content {
	width: 1000px;
	overflow: hidden;
}

.info {
	width: 210px;
	float: left;
	background: #edeef0;
	border-right: 1px solid #c7cacf;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.empty {
	width: 580px;
	float: left;
	background: #fff;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.news {
	width: 210px;
	float: right;
	background: #edeef0;
	border-left: 1px solid #c7cacf;
	padding-bottom: 20000px;
	margin-bottom: -20000px;
}

.header {
	text-align: center;
	line-height: 1.5;
	font-family: Tahoma;
	font-size: 14px;
	font-weight: 600;
}

.text {
	text-align: center;
	line-height: 1.5;
	font-family: Tahoma;
	font-size: 14px;
}

.copyright {
	margin: 10px;
	text-align: center;
	font-family: Tahoma;
	font-size: 12px;
	color: #fff;
}
